html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark-secondary);
  font-family: 'Inter', sans-serif;
  color: var(--color-white);
}
/* ....................................... */
a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a ::before,
a :after {
  color: inherit;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  padding: 0;
  border: none;
  font: inherit;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
