.footer {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  min-width: 320px;
}

.footer-container {
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  padding: 40px 30px 20px 30px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;

  background-color: var(--color-aqua);
  border-radius: 24px 24px 0 0;
}

.footer-nav-wrapper {
  width: 100%;
  min-width: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
}

.footer-logo {
  display: inline-flex;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: var(--color-white);
}

.footer-list {
  display: flex;
  gap: 4px;
}

.footer-list-item {
  width: 100%;
  width: 66px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.3);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.footer-item-link {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--color-white);
  width: 100%;
  height: 100%;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item-link::before,
.footer-item-link::after {
  color: inherit;
}

.footer-social-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.footer-social-items {
  display: flex;
  width: 24px;
  height: 24px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icon {
  width: 24px;
  fill: var(--color-white);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon:hover,
.footer-social-icon:focus,
.footer-social-icon:active {
  fill: rgba(251, 251, 251, 0.507);
}

.footer-paragraph {
  max-width: 262px;
  min-width: 240px;
  margin: 40px auto 82px auto;

  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-white);
}

.footer-underwrite {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  font-weight: 400;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}
.footer-copyright {
  display: flex;
}
.footer-privacy {
  color: rgba(251, 251, 251, 0.4);
  display: flex;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-privacy:hover,
.footer-privacy:focus,
.footer-privacy:active {
  color: rgba(251, 251, 251, 0.768);
}
.footer-scroll-link-icon {
  fill: #fbfbfb;
  width: 35px;
  height: 35px;
}

.footer-scroll-link {
  border-radius: 100px;
  border: 3px solid #2d527c;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: #fbfbfb;
  opacity: 0;
  visibility: hidden;
  transition: opacity 3150ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 3150ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 666;
}
.footer-scroll-link.show {
  opacity: 1;
  visibility: visible;
}

.footer-scroll-link:hover,
.footer-scroll-link:focus {
  background-color: #fbfbfbc3;
}
.footer-scroll-link {
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ..............................        min-width: 768px          ............................... */
@media screen and (min-width: 768px) {
  .footer {
    min-width: 736px;
    padding: 0 16px;
  }
  .footer-container {
    padding: 50px 48px 20px 48px;
    max-width: 736px;

    flex-direction: row;
    column-gap: 91px;
  }
  .footer-nav-wrapper {
    width: 100%;
    min-width: 640px;
    justify-content: space-between;
  }
  .footer-list-item {
    width: 91px;
  }
  .footer-social-list {
    width: auto;
    margin: 0;
  }
  .footer-paragraph {
    max-width: 518px;
    margin: 96px auto 99px auto;

    font-weight: 400;
    font-size: 32px;
  }
  .footer-logo {
    font-size: 20px;
  }
}
/* .......................... ............     min-width: 1280px     ............................... */
@media screen and (min-width: 1280px) {
  .footer {
    min-width: 1280px;
    padding: 0 25px;
  }
  .footer-container {
    max-width: 1230px;

    padding: 50px 75px 20px 75px;
  }
  .footer-nav-wrapper {
    min-width: 1080px;
  }
  .footer-list-item:hover {
    background: var(--color-white);
  }
  .footer-list-item:hover .footer-item-link {
    color: var(--color-aqua);
  }
  .footer-scroll-link-icon {
    width: 45px;
    height: 45px;
  }
  .footer-scroll-link {
    width: 80px;
    height: 80px;
    right: 50px;
    bottom: 50px;
  }
}
/* .............................         min-width: 1440px        ................................ */
@media screen and (min-width: 1440px) {
  .footer {
    min-width: 1440px;
  }
  .footer-container {
    max-width: 1390px;
  }
  .footer-nav-wrapper {
    min-width: 1240px;
  }
}
