/* header {
  position: absolute;
  top: 20px;
  left: 16px;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  header {
    top: 32px;
    left: 66px;
  }
} */
header {
  position: relative;
  z-index: 100;
}
header .container {
  padding: 20px 16px 0 16px;
  /* padding: 0 16px; */
}
@media (min-width: 1280px) {
  header .container {
    padding: 32px 66px 0 66px;
    /* padding: 0 66px; */
  }
}

.header-container {
  background-color: var(--color-white);
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
}
@media (min-width: 768px) {
  .header-container {
    padding: 4px 28px;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .header-container {
    padding: 4px 30px;
  }
}

@media (min-width: 768px) {
  .header-logo {
    margin-right: 109px;
  }
}
@media (min-width: 1280px) {
  .header-logo {
    margin-right: 296px;
  }
}
@media (min-width: 1440px) {
  .header-logo {
    margin-right: 375px;
  }
}
.header-logo-a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
@media (min-width: 768px) {
  .header-logo-a {
    font-size: 20px;
  }
}

.header-menu {
  display: none;
}
@media (min-width: 768px) {
  .header-menu {
    display: block;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}
.header-menu-li-link {
  border-radius: 8px;
  background: rgba(27, 65, 75, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px 15px 24px;
  color: #fbfbfb;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 91px;
}
.header-menu-li-link:hover,
.header-menu-li-link:focus {
  background-color: var(--color-aqua);
}
.header-mess {
  display: none;
}
@media (min-width: 768px) {
  .header-mess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    margin-left: 96px;
  }
}
@media (min-width: 1280px) {
  .header-mess {
    margin-left: 281px;
  }
}
@media (min-width: 1440px) {
  .header-mess {
    margin-left: 362px;
  }
}

.header-mess-li-link {
  fill: var(--color-aqua);
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mess-li-link:active,
.header-mess-li-link:focus,
.header-mess-li-link:hover {
  fill: #062730;
}
.header-burger-btn-svg {
  stroke: #062730;
}
.header-burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
@media (min-width: 768px) {
  .header-burger-btn {
    display: none;
  }
}
/* ............  Burger      .................................................. */

/* .burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  height: 9px;
}
@media (min-width: 768px) {
  .burger {
    display: none;
  }
}
.burger .burger-span {
  width: 21px;
  height: 0px;
  transform: scale(1);
  background-color: var(--color-aqua);
}

.burger::after {
  content: '';
  position: absolute;
  bottom: 1px;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-aqua);
  transition: all 650ms ease-in-out;
  z-index: 5;
}
.burger::before {
  content: '';
  position: absolute;
  top: 1px;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-aqua);
  transition: all 650ms ease-in-out;
  z-index: 5;
}

.burger.active .burger-span {
  transform: scale(0);
}
.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -70%);
  width: 80%;
  border-radius: 0;
  height: 1.5px;
}
.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 70%);
  width: 80%;
  border-radius: 0;
  height: 1.5px;
}
@media (max-width: 768px) {
  .burger {
    display: flex;
  }
  .header-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: black;
  }
  .nav .header-menu {
    flex-direction: column;
    row-gap: 15px;
  }
} */
