.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 375px;
    min-height: 812px;
    background-image: linear-gradient(rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url(/img/hero-mobl1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 260px 0 320px 0;
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(/img/hero-mobl2x.jpg);
    }
}

@media (min-width: 768px) {
    .hero-section {
        min-width: 768px;
        min-height: 962px;
        background-image:
            url(/img/hero-tab1x.jpg);
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image:
                url(/img/hero-tab2x.jpg);
        }
    }
}

@media (min-width: 1280px) {
    .hero-section {
        min-width: 1280px;
        min-height: 800px;
        background-image:
            url(/img/hero-1280des1x.jpg);
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image:
                url(/img/hero-1280des2x.jpg);
        }
    }
}

@media (min-width: 1440px) {
    .hero-section {
        min-width: 1440px;
        min-height: 800px;
        background-image:
            url(/img/hero-1440des1x.jpg);
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image:
                url(/img/hero-1440des2x.jpg);
        }
    }
}

.hero-h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    width: 335px;
    margin-bottom: 25px;
    color: var(--color-white);

}

@media (min-width: 768px) {
    .hero-h1 {
        width: 704px;
        height: 210px;
        font-size: 70px;
    }
}

@media (min-width: 1280px) {
    .hero-h1 {
        height: 160px;
        width: 1001px;
        font-size: 80px;
    }
}

.hero-p {
    font-weight: 300;
    font-size: 12px;
    line-height: 117%;
    width: 335px;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
}

@media (min-width: 768px) {
    .hero-p {
        width: 597px;
        font-size: 16px;
        line-height: 140%;
    }
}

.hero-section-button {
    border-radius: 15px;
    padding: 16px 32px;
    margin-top: 38px;
    background: var(--color-aqua);
    color: var(--color-white);
}

@media (min-width: 768px) {
    .hero-section-button {
        margin-top: 48px;
        padding: 16px 40px;
        width: 179px;
        height: 52px;
    }
}

.hero-section-button:hover,
.hero-section-button:focus {
    background: var(--color-white);
    color: var(--color-aqua);
}