.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-width: 375px;
  min-height: 812px;
  background-image: url(/img/hero/hero-mobl1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(/img/hero/hero-mobl2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero-section {
    min-width: 768px;
    min-height: 962px;
    background-image: url(/img/hero/hero-tab1x.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(/img/hero/hero-tab2x.jpg);
    }
  }
}

@media (min-width: 1280px) {
  .hero-section {
    min-width: 1280px;
    min-height: 800px;
    background-image: url(/img/hero/hero-1280des1x.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(/img/hero/hero-1280des2x.jpg);
    }
  }
}

@media (min-width: 1440px) {
  .hero-section {
    min-width: 1440px;
    min-height: 800px;
    background-image: url(/img/hero/hero-1440des1x.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(/img/hero/hero-1440des2x.jpg);
    }
  }
}

.hero-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 25px;
  color: var(--color-white);
}

.hero-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 117%;
  max-width: 335px;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
}

.hero-section-link {
  border-radius: 15px;
  padding: 16px 32px;
  margin-top: 38px;
  background: var(--color-aqua);
  color: var(--color-white);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-link:hover,
.hero-section-link:active,
.hero-section-link:focus {
  background: var(--color-white);
  color: var(--color-aqua);
}

@media (max-width: 374px) {
  .hero-section {
    min-height: 612px;
  }
}

@media (max-width: 767px) {
  .hero-title {
    max-width: 335px;
  }
}
/* .............................      min-width: 768px      .......................... */
@media (min-width: 768px) {
  .hero-title {
    width: 704px;
    font-size: 70px;
  }
  .hero-text {
    max-width: 597px;
    font-size: 16px;
    line-height: 140%;
  }
  .hero-section-link {
    margin-top: 48px;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
  }
}
/* .............................     min-width: 1280px       ........................... */
@media (min-width: 1280px) {
  .hero-title {
    width: 1001px;
    font-size: 80px;
  }
}
