.our-yachts-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 319px;
  margin-left: auto;
  margin-right: auto;
}

.our-yachts-item {
  max-height: 478px;
  background-color: #fbfbfb;
  padding: 16px;
  border-radius: 24px;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-yachts-item:hover,
.our-yachts-item:focus,
.our-yachts-item:active {
  transform: scale(1.07);
}

.second-yacht {
  display: none;
}

.third-yacht {
  display: none;
}

.our-yachts-img {
  border-radius: 24px;
  width: 302px;
  height: 240px;
}

.our-yachts-table {
  min-width: 270px;
  margin: 32px auto 16px auto;
  height: 100%;
  border-collapse: collapse;
  padding: 16px;
}

.our-yachts-table-title {
  position: relative;
}

.our-yachts-table-title::after {
  position: absolute;
  top: 33px;
  right: 0;
  width: 272px;
  height: 1px;
  background-color: rgba(4, 3, 6, 0.1);
  content: '';
}

.our-yachts-table-title-item:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
  padding-bottom: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 147px;
}

.our-yachts-table-title-item:last-child {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
  padding-bottom: 32px;
  text-align: left;
  width: 39%;
}

.our-yachts-table-list-item:first-child {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.our-yachts-table-list-item:last-child {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
  padding-left: 7px;
}

.our-yachts-link-container {
  display: flex;
  justify-content: center;
}

.our-yachts-link {
  min-width: 141px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 14px 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-yachts-link:focus,
.our-yachts-link:hover {
  background-color: #fbfbfb;
  color: #1b414b;
}
.our-yachts-list {
  margin: 40px 0 40px 0;
}
@media (max-width: 767px) {
  .our-yachts-item {
    max-width: 334px;
  }
}

/* #region for Tablet */
@media screen and (min-width: 768px) {
  .our-yachts-title {
    font-size: 48px;
    max-width: 645px;
  }

  .our-yachts-table {
    min-width: 272px;
  }

  .our-yachts-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin: 75px 0 50px 0;
  }

  .second-yacht {
    display: flex;
    flex-direction: column;
  }

  .our-yachts-item {
    max-width: 336px;
    max-height: 508px;
    width: calc((100% - 32px) / 2);
    cursor: pointer;
  }

  .our-yachts-img {
    width: 304px;
    height: 268px;
  }

  .our-yachts-table-title-item:first-child {
    font-size: 16px;
    line-height: 1.2;
  }

  .our-yachts-table-title-item:last-child {
    font-size: 13px;
    line-height: 1.18;
    width: 42%;
  }

  .our-yachts-link {
    min-width: 179px;
    padding: 16px 40px;
    font-size: 18px;
    line-height: 1.1;
  }
}
/* #endregion for Tablet */

/* #region for Desktop */
@media screen and (min-width: 1280px) {
  .our-yachts-title {
    max-width: 714px;
  }

  .our-yachts-table {
    min-width: 313px;
  }
  .our-yachts-list {
    gap: 25px;
  }

  .our-yachts-item {
    max-width: 377px;
    width: calc((100% - 50px) / 3);
  }
  .our-yachts-img {
    width: 345px;
    height: 268px;
  }

  .our-yachts-table-title-item:last-child {
    width: 37%;
  }

  .our-yachts-table-title::after {
    width: 313px;
  }
  .third-yacht {
    display: flex;
    flex-direction: column;
  }
}
/* #endregion for Desktop */

/* #region for Desktop-2 */

@media screen and (min-width: 1440px) {
  .our-yachts-list {
    gap: 32px;
  }

  .our-yachts-table {
    min-width: 328px;
  }

  .our-yachts-item {
    max-width: 392px;
    width: calc((100% - 64px) / 3);
  }

  .our-yachts-img {
    width: 360px;
  }

  .our-yachts-table-title::after {
    width: 328px;
  }

  .our-yachts-table-title-item:last-child {
    width: 35%;
  }
}
