.rent-yacht-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.rent-yacht-form {
  margin-bottom: 80px;
}

.rent-yacht-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: var(--color-white);
  margin-bottom: 18px;
}

.rent-yacht-input:focus {
  outline: transparent;
  border-color: rgba(251, 251, 251, 0.5);
}

.rent-yacht-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(251, 251, 251, 0.4);
}

.rent-yacht-texterea {
  width: 100%;
  height: 108px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: var(--color-white);
  margin-bottom: 40px;
  resize: none;
}

.rent-yacht-texterea:focus {
  outline: transparent;
  border-color: rgba(251, 251, 251, 0.5);
}

.rent-yacht-texterea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(251, 251, 251, 0.4);
}

.rent-yacht-btn-submit {
  border-radius: 15px;
  padding: 14px 44px;
  background-color: var(--color-aqua);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-yacht-btn-submit:hover,
.rent-yacht-btn-submit:focus {
  background-color: var(--color-white);
  color: var(--color-aqua);
}

.rent-yacht-img {
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .rent-yacht-container-form {
    max-width: 335px;
  }
}
/* .....................................       min-width: 768px         ............................... */
@media screen and (min-width: 768px) {
  .rent-yacht-title {
    font-size: 48px;
    margin-bottom: 50px;
  }
  .rent-yacht-container-form {
    width: 472px;
    margin-left: auto;
    margin-right: auto;
  }

  .rent-yacht-form {
    margin-bottom: 100px;
  }

  .rent-yacht-texterea {
    margin-bottom: 50px;
    height: 116px;
  }
  .rent-yacht-btn-submit {
    padding: 18px 75px;
  }
  .rent-yacht-input {
    height: 54px;
  }
  .rent-yacht-container-form {
    width: 472px;
  }
}
/* .................................        min-width: 1280px         ................................ */
@media (min-width: 1280px) {
  .rent-yacht .container {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px;
  }
  .rent-yacht-form {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .rent-yacht-container-form {
    margin-left: 0;
  }
}
