.reviews-title {
  margin-bottom: 25px;
  padding: 0 28px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-title {
    max-width: 854px;
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews-text {
  margin-bottom: 40px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-white);
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .reviews-text {
    max-width: 571px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;

    font-size: 14px;
    line-height: 1.29;
  }
}

.reviews-list-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.reviews-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: var(--color-dark-primary);
}

.reviews-list-text {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(4, 3, 6, 0.4);
}

/* ----------------- swiper slider  -----------------*/

.swiper-container {
  width: 335px;
  height: 282px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media screen and (max-width: 374px) {
  .swiper-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-container {
    width: 1180px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-container {
    width: 1240px;
  }
}

.swiper-wrapper {
  display: flex;

  transition: 300ms transform ease-in-out;
}

@media screen and (min-width: 768px) {
  .swiper-wrapper {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-wrapper {
    gap: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-wrapper {
    gap: 32px;
  }
}

/* ----------------- reviews-item flip  -----------------*/

.reviews-list-item {
  perspective: 1000px;
  cursor: pointer;
}
@media screen and (max-width: 374px) {
  .reviews-list-item {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .reviews-list-item {
    flex-basis: 336px;
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-list-item {
    flex-basis: 376px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-list-item {
    flex-basis: 392px;
  }
}

.reviews-list-item-wrap {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: 500ms transform cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-list-item-front,
.reviews-list-item-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  border-radius: 24px;
}

.reviews-list-item-front {
  padding: 32px 16px;
  text-align: center;
  background-color: var(--color-white);
}

@media screen and (max-width: 374px) {
  .reviews-list-item-front {
    flex-basis: 100%;
    overflow: scroll;
  }
}

@media screen and (min-width: 768px) {
  .reviews-list-item-front {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-list-item-front {
    flex-basis: 376px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-list-item-front {
    flex-basis: 392px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

/* .reviews-list-item-back {
  transform: rotateY(180deg);

  background-image: url(/img/reviews/item-bg.jpg);
  background-position: center;
  background-size: cover;

  box-shadow: inset 0 0 10px rgba(0, 255, 200, 0.5),
    inset 0 0 18px rgba(0, 180, 255, 0.4), inset 0 0 25px rgba(255, 140, 0, 0.3);
} */

/* @media screen and (min-resolution: 192dpi) {
  .reviews-list-item-back {
    background-image: url(/img/reviews/item-bg@2x.jpg);
  }
}

.reviews-list-item:hover .reviews-list-item-wrap {
  transform: rotateY(180deg);
} */

.reviews-save-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  min-width: 91px;
  min-height: 40px;
  padding: 10px;

  font-size: 12px;
  background: rgba(251, 251, 251, 0.3);
  color: var(--color-white);
  border-radius: 8px;
}
