<section class="advantages-section section">
    <div class="container">
        <h2 class="advantages visually-hidden">dvantages</h2>
        <div class="advantages-wrap">
            <ol class="advantages-list">
                <li class="advantages-item">
                    <span class="advantages-num">01</span>
                    <p class="advantages-text">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantages-item">
                    <span class="advantages-num">02</span>
                    <p class="advantages-text">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advantages-item">
                    <span class="advantages-num">03</span>
                    <p class="advantages-text">Sightseeing tours: take a shore or island tour, enjoy the views and
                        sunsets
                        from
                        the water</p>
                </li>
                <li class="advantages-item">
                    <span class="advantages-num">04</span>
                    <p class="advantages-text">Rest and relaxation: read a book or listen to music while enjoying the
                        outdoor
                        atmosphere.</p>
                </li>
            </ol>
        </div>
        <div class="advantages-picture-wrap">
            <picture>
                <source media="(min-width: 1440px)" srcset="
                                        ./img/advantages/advantages-des11401х.jpg 1x,
                                        ./img/advantages/advantages-des14402х.jpg 2x
                                                  " type="image/jpg" />
                <source media="(min-width: 1280px)" srcset="
                                        ./img/advantages/advantages-des12801х.jpg 1x,
                                        ./img/advantages/advantages-des12802х.jpg 2x
                                      " type="image/jpg" />
                <source media="(min-width: 768px)" srcset="
                                        ./img/advantages/advantages-tab1х.jpg 1x,
                                        ./img/advantages/advantages-tab2х.jpg 2x
                                      " type="image/jpg" />
                <img class="advantages-img" loading="lazy" srcset="./img/advantages/advantages-mob2х.jpg 2x"
                    src="./img/advantages/advantages-mob1х.jpg" alt="Photo of the yacht" />
            </picture>
        </div>
    </div>
</section>