<footer class="footer">
  <div class="footer-container">
    <div class="footer-nav-wrapper">
      <a href="./index.html" class="footer-logo">yachtjet</a>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="#about" class="footer-item-link">About</a>
        </li>
        <li class="footer-list-item">
          <a href="#yachts" class="footer-item-link">Yachts</a>
        </li>
        <li class="footer-list-item">
          <a href="#reviews" class="footer-item-link">Reviews</a>
        </li>
      </ul>

      <ul class="footer-social-list">
        <li class="footer-social-items">
          <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noreferrer" class="footer-social-link">
            <svg class="footer-social-icon" width="19" height="19">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-items">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noreferrer" class="footer-social-link">
            <svg class="footer-social-icon" width="19" height="19">
              <use href="./img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-items">
          <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noreferrer" class="footer-social-link">
            <svg class="footer-social-icon" width="19" height="19">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-paragraph">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </div>
    <div class="footer-underwrite">
      <p class="footer-copyright">2025. Yacht Adventures</p>
      <a href="https://patrolpolice.gov.ua/" target="_blank" rel="noreferrer" class="footer-privacy">Privacy Police</a>
    </div>
    <a class="footer-scroll-link" id="scrollTop" href="#header-main">
      <svg class="footer-scroll-link-icon" width="40" height="40">
        <use href="./img/icons.svg#icon-ship-boat-svg"></use>
      </svg>
    </a>
  </div>
</footer>