<header>
    <div class="container">
        <div class="header-container">
            <div class="header-logo">
                <a class="header-logo-a" href="">yachtjet</a>
            </div>
            <nav class="header-nav">
                <ul class="header-menu">
                    <li class="header-menu-li">
                        <a class="header-menu-li-link" href="./index.html">About</a>
                    </li>
                    <li class="header-menu-li">
                        <a class="header-menu-li-link" href="#Yachts">Yachts</a>
                    </li>
                    <li class=" header-menu-li">
                        <a class="header-menu-li-link" href="#Reviews">Reviews</a>
                    </li>
                </ul>
            </nav>
            <ul class="header-mess">
                <li class="header-mess-li">
                    <a class="header-mess-li-link" href="">
                        <svg class="header-mess-svg" width="24" height="24">
                            <use href="/img/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-mess-li">
                    <a class="header-mess-li-link" href="">
                        <svg class="header-mess-svg" width="24" height="24">
                            <use href="/img/icons.svg#youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-mess-li">
                    <a class="header-mess-li-link" href="">
                        <svg class="header-mess-svg" width="24" height="24">
                            <use href="/img/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <!-- <button class="header-burger-btn visually-hidden" type="" aria-label="open_burger-menu">
                <svg class="header-burger-btn-svg" width="28" height="28">
                    <use href="./images/icons.svg#burger-menu"></use>
                </svg>
            </button> -->
            <div class="burger">
                <span class="burger-span"></span>
            </div>

        </div>
    </div>

    <!-- .............     Mob  Burger      .......................... -->

    <!-- <div class="burger-overlay is-open" data-menu>
        <div class="burger-wrap container">
            <div class="burger-header-logo">
                <a class="burger-header-logo-a" href="">yachtjet</a>
            </div>
            <button class="burger-btn" type="button" data-menu-close>
                <svg class="burger-btn-svg" width="28" height="28">
                    <use href="./images/sprite.svg#burger-close"></use>
                </svg>
            </button>
            <ul class="burger-menu">
                <li class="burger-menu-li">
                    <a class="burger-menu-li-link" href="./index.html">About</a>
                </li>
                <li class="header-menu-li">
                    <a class="burger-menu-li-link" href="#Yachts">Yachts</a>
                </li>
                <li class=" header-menu-li">
                    <a class="burger-menu-li-link" href="#Reviews">Reviews</a>
                </li>
            </ul>
            <div class="burger-mess">
                <svg class="burger-mess-svg" width="24" height="24">
                    <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
                <svg class="burger-mess-svg" width="24" height="24">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                </svg>
                <svg class="burger-mess-svg" width="24" height="24">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
            </div>
        </div>
    </div> -->

</header>