<header class="header">
    <div class="container">
        <div class="header-logo">
            <a class="header-logo-a" href="">yachtjet</a>
        </div>
        <ul class="header-menu">
            <li class="header-menu-li">
                <a class="header-menu-links-li-link" href="./index.html">About</a>
            </li>
            <li class="header-menu-li">
                <a class="header-menu-links-li-link" href="#Yachts">Yachts</a>
            </li>
            <li class=" header-menu-li">
                <a class="header-menu-links-li-link" href="#Reviews">Reviews</a>
            </li>
        </ul>
        <ul class="header-mess">
            <li class="header-mess-li">
                <a class="header-mess-li-link" href="">
                    <svg class="header-mess-svg" width="24" height="24">
                        <use href="/img/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-mess-li">
                <a class="header-mess-li-link" href="">
                    <svg class="header-mess-svg" width="24" height="24">
                        <use href="/img/icons.svg#youtube"></use>
                    </svg>
                </a>
            </li>
            <li class="header-mess-li">
                <a class="header-mess-li-link" href="">
                    <svg class="header-mess-svg" width="24" height="24">
                        <use href="/img/icons.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button class="header-burger-btn visually-hidden" type="" aria-label="open_burger-menu">
            <svg class="header-burger-btn-svg" width="28" height="28">
                <use href="./images/icons.svg#burger-menu"></use>
            </svg>
        </button>

    </div>
</header>