<header class="header" id="header-main">
    <div class="container">
        <div class="header-container">
            <div class="header-logo">
                <a class="header-logo-link" href="">yachtjet</a>
            </div>
            <nav class="header-nav">
                <ul class="header-menu-list">
                    <li class="header-menu-item">
                        <a class="header-menu-item-link" href="#about">About</a>
                    </li>
                    <li class="header-menu-item">
                        <a class="header-menu-item-link" href="#yachts">Yachts</a>
                    </li>
                    <li class=" header-menu-item">
                        <a class="header-menu-item-link" href="#reviews">Reviews</a>
                    </li>
                </ul>
            </nav>
            <ul class="header-mess-list">
                <li class="header-mess-item">
                    <a class="header-mess-item-link" target="_blank" href="https://www.instagram.com/goitclub/">
                        <svg class="header-mess-svg" width="19" height="19">
                            <use href="/img/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-mess-item">
                    <a class="header-mess-item-link" target="_blank" href="https://www.youtube.com/c/GoIT">
                        <svg class="header-mess-svg" width="19" height="19">
                            <use href="/img/icons.svg#youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-mess-item">
                    <a class="header-mess-item-link" target="_blank" href="https://www.facebook.com/goITclub/">
                        <svg class="header-mess-svg" width="19" height="19">
                            <use href="/img/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <button class="header-burger-btn js-menu-btn" type="button" aria-label="open_burger-menu">
                <svg class="header-burger-btn-svg" width="28" height="28">
                    <use href="./img/icons.svg#burger-menu"></use>
                </svg>
            </button>
        </div>
    </div>
</header>

<!-- /////////////////          Modal-box        ///////////////////////////// -->

<div class="modal-box">
    <div class="container">
        <div class="mobile-menu-container">
            <div class="header-logo header-logo-mobile">
                <a class="header-logo-link" href="">yachtjet</a>
            </div>
            <button class="header-burger-btn js-menu-btn" type="button" aria-label="close-menu">
                <svg class="header-burger-btn-svg" width="16" height="16">
                    <use href="./img/icons.svg#close"></use>
                </svg>
            </button>
        </div>

        <div class="mobile-menu">
            <nav class="mobile-menu-nav">
                <ul class="mobile-menu-nav-list">
                    <li class="mobile-menu-nav-item">
                        <a class="mobile-menu-nav-item-link" href="#about">About</a>
                    </li>
                    <li class="mobile-menu-nav-item">
                        <a class="mobile-menu-nav-item-link" href="#yachts">Yachts</a>
                    </li>
                    <li class=" mobile-menu-nav-item">
                        <a class="mobile-menu-nav-item-link" href="#reviews">Reviews</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="social-box-modal">
        <ul class="footer-social-list">
            <li class="footer-social-items">
                <a href="https://www.instagram.com/goitclub/" class="footer-social-link">
                    <svg class="footer-social-icon" width="19" height="19">
                        <use href="./img/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social-items">
                <a href="https://www.youtube.com/c/GoIT" class="footer-social-link">
                    <svg class="footer-social-icon" width="19" height="19">
                        <use href="./img/icons.svg#youtube"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-social-items">
                <a href="https://www.facebook.com/goITclub/" class="footer-social-link">
                    <svg class="footer-social-icon" width="19" height="19">
                        <use href="./img/icons.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>